// Sækja config
@import './config';
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: $gray-dark;
}
h1,h2,h3,h4{
  font-family: 'Montaga', Georgia, serif;
}
a{
  color: $gray-dark;
}

main{
  margin: 0 auto;
  padding: 0 10px;

}
header{
  margin-bottom: 2*$bottom-margin;
  width: $full;
  height: 100vh;
  display: flex;

  background-image: url(/vef1-2020-v6/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;

  & .content{
    margin: auto;
    text-align: center;
    color: $white;
  }
  & h1{
    font-size: 6vmax;
  }

  & h2{
    font-size: 3vmax;
  }
}

