// Sækja config
@import './config';
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $gray-dark;
}

button {
  background-color: $gray-dark;
  border: 1px solid $black;
  border-radius: 5px;
  color: $white;
  padding: $std-padding;
  transition: $anim;
  word-break: initial;

  &:hover {
    background-color: $white;
    color: $black;
  }

  &:active {
    background-color: $gray-dark;
    border: 1px solid $black;
    color: $white;
  }
}

body {
  color: $gray-dark;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montaga', Georgia, serif;
}

header {
  background-attachment: fixed;
  background-image: url('/vef1-2020-v6/img/background.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  margin-bottom: 2*$bottom-margin;
  width: $full;

  .content {
    color: $white;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 6vmax;
  }

  h2 {
    font-size: 3vmax;
  }
}

main {
  margin: 0 auto;
  padding: 0 10px;

  h2 {
    margin-bottom: $bottom-margin;
    padding: 0 $std-padding;
  }
}
